extends ../layouts/default


block content
    .col-md-7
        ul
            - each article, i in articles
                .fixed-section
                    .card
                        .content
                            p.category.text-right
                                i.fa.fa-clock-o
                                |   #{moment(article.created).fromNow()}
                            a.card-link(href='#')
                                h1.title= article.title
                                h3= article.content
                            a.card-link(href="#")
                            .footer
                                .author
                                    a.card-link(href="/api/users/#{article.creator.id}/profile")
                                        img.avatar(src='/img/face-2.jpg')
                                        span #{article.creator.profile.name||article.creator.email || article.creator.id}
                                .stats.pull-right
                                    a.card-link(href="#")
                                        i.fa.fa-comments
                                        | #     
                                .stats.pull-right
                                    a.card-link(href="#")
                                        i.fa.fa-heart
                                        | #{article.favoritesCount}


