extends ../layouts/profile


block content
    h1.
         #{title}
    ul
        - each article, i in articles
            li
                = article.title + ' by '
                p 
                    a(href='/api/users/#{article.creator.id}/profile') #{article.creator.profile.name||article.creator.email || article.creator.id}
                = article.content 
                br
                =  article.category 
                br
                p Created  #{moment(article.created).fromNow()}
                //= 'Created on: ' + article.created 

                form(action='/api/articles/#{article._id}/favorites',method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    button(type='submit').
                        like: #{article.favoritesCount}                   
                //p
                //    a(href='/api/articles/#{article._id}') Detail
                br
                form(action='/api/articles/#{article._id}/delete',method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    button(type='submit').
                        Delete
                hr
                ul
                    - each comment in article.comments
                        li
                            ='User: '+ comment.user
                            br
                            ='Comment: '+ comment.body
                            p Created: #{moment(comment.createdAt).fromNow()}
                        hr
                hr
                include ../comments/form


