extends ../layouts/profile


block content
    h1.
         #{title}
    ul
        - each article, i in articles
            li
                = 'Title: ' + article.title
                br
                = article.content 
                br
                = 'Author:'
                br
                =  article.creator.profile.name||article.creator.email || article.creator.id + '|'
                br
                = 'Category:' + article.category 
                br
                = 'Created on: ' + article.created 
                br
                = 'Article id: ' + article._id 
                form(action='/api/articles/#{article._id}/favorites',method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    button(type='submit').
                        like #{article.favoritesCount} 

                form(action='/users/#{article.creator.id}/follow/',method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='fid', value=article.creator.id)
                    button(type='submit').
                        follow                       
                p
                    a(href='/api/articles/#{article._id}') Detail
                
                form(action='/api/articles/#{article._id}/delete',method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    button(type='submit').
                        Delete



