extends ../layouts/default


block content
    h1.
         #{title}
    p Title: #{article.title}
    p Content: #{article.content}
    p Creator Detail: #{article.creator}
    p Creator Profile: #{article.creator.profile}
    p Creator Profile.name: #{article.creator.profile.name}
    p Creator: #{article.creator.profile.name|| article.creator.email || article.creator.id}
    p Creator.profile.name: #{article.creator.profile.name}
    p Creator.creator.email: #{article.creator.email}
    p Creator.creator.id: #{ article.creator.id}
    p Category: #{article.category}
    p Created on: #{article.created}
    p id: #{article._id}