<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
  <script src="/socket.io/socket.io.js"></script>
	<% include ../partials/main-header %>

	  <div class="main">
        <div class="section">
    		<div class="container">
        		<div class="row">
            		<div class="col-md-3">
                		<div class="fixed-section">
                		<div class="card card-user card-plain">
                            <div class="image image-plain"></div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar" src="/img/face-2.jpg" alt="..."/>
                                   
                                      <h4 class="title"><%= user.email %><a href=""></a>
                                      </h4> 
                                    </a>
                                </div>
                                <div class="text-center">
                                <button href="#" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-heart-o"></i>23</button>
                                <button href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-heart-o"></i>12</button>
                                <button href="#" class="btn btn-social btn-google btn-simple"><i class="fa fa-heart-o"></i>22</button>
                            	</div>  
                            </div>
                        </div> <!-- end card -->
       				         </div> <!-- end fixed section-->
       				 <div class="row">
       				 	<h3 class="title text-center">Trending</h3>
       				 </div>
   				</div><!--col-md-3-->
<div class="space-50"></div>
    <div class="col-md-7">
       <div class="tim-container" style="min-height: 2000px;">
          <div class="space-50"></div>
          <form id="createArticle-form" method="POST" class="form-horizontal">
            <input type='hidden' name='_csrf' value="<%= locals._csrf %>">
  <div class="form-group">
    <label for="title" class="col-sm-3 control-label">Title</label>
    <div class="col-sm-7">
      <input type="text" name="title" id="title" placeholder="poem title" autofocus="autofocus" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-3 control-label">Content</label>
    <div class="col-sm-7">
      <textarea id="content" type="text" name="content" placeholder="poem content" row="10" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="category" class="col-sm-3 control-label">Category</label>
    <div class="col-sm-7">
      <select id="category" name="category" class="form-control">
        <option>nonCategorized</option>
        <option>Category1</option>
        <option>Category2</option>
        <option>Category3</option>
      </select>
    </div>
  </div>
  <div class="form-group">
      <div class="col-sm-4 col-sm-offset-8">
        <button type="submit" class="btn btn-black">Post</button>
      </div>
  </div>
</form>
        <div class="tim-container" style="min-height: 2000px;">
        	<div class="space-50"></div>
            <ul>
                <% for (var i = 0; i < articles.length; i++) {%>
                    <div class="media">
                          <a class="pull-left" href="#">
                              <div class="avatar">
                                 <img class="media-object" alt="Tim Picture" src="/img/face-2.jpg">
                              </div>
                          </a>
                          <div class="media-body">                      
                             <h1 class="media-heading"><%= articles[i].title%><small class="subtitle">~<%= articles[i].creator.email %></small></h1>
                             <h6 class="pull-right text-muted"><%= moment(articles[i].created).fromNow() %></h6>
                            
                             <p><h3><% articles[i].content %></h3></p>
                            
                             <div class="media-footer">
                                 <a href="#" class="btn btn-info btn-simple "> <i class="fa fa-reply"></i> Comment</a> 

                                 <form action='/api/articles/<%= articles[i]._id%>/favorites', method='POST'>
                                   <input type='hidden' name='_csrf' value="<%= locals._csrf %>">                         
                                    <button type="submit" id="favorites" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i><%= articles[i].favoritesCount%>
                                 </button>
                               </form>


                                 <form action='/api/articles/<%= articles[i]._id%>/dislike', method='POST'>
                                   <input type='hidden' name='_csrf' value="<%= locals._csrf %>">                         
                                    <button type="submit" id="dislike" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i><%= articles[i].dislikesCount%>
                                 </button>
                               </form>

                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 12
                                 </a> 
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 14
                                 </a> 
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 16
                                 </a>     
                             </div><!--Media footer-->
                            </div><!--Media Body-->
                          </div><!--Media-->
                          <div class="space-10"></div>
                        <%}%>
                    </ul>
        	       </div>
                </div>
              </div>
            </div>
            <% include ../partials/footer %>
        <!--<script type="text/javascript" src="/js/script.js"></script>-->
        </body>
    </html>