<head>
  <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>

<!-- Main Section -->
<section>
  <div class="container pad-top-10">
  	<div class="row">
  		<!--<div class="col-md-4 col-md-offset-2">-->
    		<!--<a href="/account"><img style="height:75px; width:75px;" class="img-circle"  src="<%= user.profile.picture %>" alt="..."></a>-->
    		<!--<a href="/api/createArticles" style="margin-top:15px" class="btn btn-icon"><span><i class="icon pe-pen" aria-hidden="true" style="font-size:30px"></i></span>Create Verz..... </a>-->
    	<!--</div>-->
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 masonry-item pad-top-10">  
          <ul>
            <% for (var i = 0; i < articles.length; i++) {%>
          <!-- Widget -->
          <div class="widget widget-article widget-shadow">
           
            <div class="widget-body">
              <p class="widget-metas type-link">
                <a href="/api/users/<%= articles[i].creator.id %>/profile"><img class="width-50 img-circle" src="<%= articles[i].creator.profile.picture %>" alt="<%= articles[i].creator.profile.name%>" /></a>

                
                <p class="pull-right"><%= moment(articles[i].created).fromNow() %></p>
                
              </p>
              
          <a href="api/articles/<%= articles[i].id %>"><h3 class="widget-title"><%= articles[i].title %></h3></a>
              <p style="max-width:800px"><%= articles[i].content %><br><a href="api/articles/<%= articles[i].id %>">...Read More</a></p>
             
              <div class="widget-body-footer">

                <div class="widget-actions pull-left">
                  <a href="javascript:void(0)">
                    <i class="icon wb-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-heart"></i>
                    <span><%= articles[i].favoritesCount %></span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-heart"></i>
                    <span><%= articles[i].dislikesCount %></span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-chat"></i>
                    <span>115</span>
                  </a>
                </div>
                <a class="pull-right" href="/api/users/<%= articles[i].creator.id %>/profile"><p>~<%= articles[i].creator.profile.name%></a>
              </div>
            </div>
          </div>
          <!-- End Widget -->
         <%}%>
      <ul>
</div>
</div>
</section>




    
  <% include ../partials/footer %>

</body>
</html>