extends ../layouts/profile

block content
  .section.top
    .container
      .row
        .col-md-4
          a(href='#')
            img.img-responsive.img-rounded(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
        .col-md-5
          h3 @username #{u.profile.name}
          ul.list-inline.list-unstyled
            li
              a(href="#") Verses: #{stats.count}
            li 
              a(href="#") Following: #{u.following}
            li
              a(href="#") Followers: 0
            li
              a(href="#") Features: 0
            li
              a(href="#") Likes: 0
          hr
          h4 Inspiration:
          ul.list-inline.list-unstyled
            li
              a(href="#") William Shakespeare
            li 
              a(href="#") 2Pac
            li
              a(href="#") Poet
            li
              a(href="#") Author
            li
              a(href="#") Song Writter
        .col-md-3
          form(action='/users/#{u._id}/follow/', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              input(type='hidden', name='fid', value=u.id)
            .form-group
              button.btn.btn-default.btn-sm(type='submit') Follow
  hr
  